<html>

<head>
    <title>LED Controls</title>

    <link rel='stylesheet' href='/static/style.css'/>
    <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js'>
    </script>


    <script type='text/javascript' language='javascript'>

        function changeEffect(el) {
            $.ajax({
                url: '/changeEffect',
                contentType: 'application/json;charset=UTF-8',
                data: JSON.stringify({newEffect : $(el).val(),}, null, '\t'),
                type: 'POST',
                success: function (response) {
                    console.log(response);
                },
                error: function (error) {
                    console.log(error);
                }
            });
        }

        function changeMode(el) {
            $.ajax({
                url: '/changeMode',
                contentType: 'application/json;charset=UTF-8',
                data: JSON.stringify({newMode : $(el).val(),}, null, '\t'),
                type: 'POST',
                success: function (response) {
                    console.log(response);
                },
                error: function (error) {
                    console.log(error);
                }
            });
        }

    </script>
</head>

<body>

    <div class='header'>
        <!-- One mode for individual effect control -->
        <!-- One mode for show control -->
    </div>
    
    <div class = 'subheader'>
        <!-- Effect dropdown list, auto-populated -->
        <!-- A play-pause button to stop or start whichever effect is selected-->
        
        <!-- OR, if the show mode is selected -->
        <!-- Show a dropdown list of all rendered shows -->
    </div>

    <!-- Custom control GUI for each effect -->
    <!-- TODO: Get rid of this stuff -->
    <button name='animation1' value='defaultEffects.SolidEffect' onclick='changeEffect(this)'> Solid Red </button>
    <button name='animation2' value='defaultEffects.EmptyEffect' onclick='changeEffect(this)'> Empty Effect </button>
    <button name='animation3' value='defaultEffects.AlternatingSolidEffect' onclick='changeEffect(this)'> Alternating Solid Effect </button>
    <button name='animation4' value='defaultEffects.Pulse' onclick='changeEffect(this)'> Pulse Effect </button>
    <button name='changeModeToRendered' value='RENDERED' onclick='changeMode(this)'> Change Mode to Rendered </button>
    <button name='changeModeToPassive' value='PASSIVE' onclick='changeMode(this)'> Change Mode to Passive </button>


    <!-- OR, if the show mode is selected -->
    <!-- For the current show , show a play / pause button and a playback progress bar-->

</body>

</html>
